.footer-icon{
    float: left;
    margin-right: 2vw;
    margin-top: 1vh;
    font-size: 2em;
    color:#7A7A7A;
}

.icon-holder{
    position: fixed;
    /* center the div */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}